/* Work Style */
.work {
    width: 95%;
    max-width: 300px;
    min-height: 250px;
    border-radius: 5px;
    border-top: 4px solid var(--primary);
    overflow: hidden;
    margin-inline: auto;
    margin-bottom: 40px;
    position: relative;
}

.title {
    width: 100%;
    font-size: 17px;
    color: var(--black-200);
    padding: 10px 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    background-color: #ffffff3b;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 2;
    backdrop-filter: blur(5px);
}

.cover {
    height: 220px;
    overflow: hidden;
    position: relative;
    border-radius: 0 0 10px 10px;
}

.cover::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--navbar);
    opacity: 0.3;
}

.cover:hover::after {
    transform: translate(0, 0);
}

.widgets {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.widgets .icon {
    font-size: 30px;
    color: var(--white);
    transition: color 300ms;
}

.widgets .icon:hover {
    color: var(--primary);
}
